@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .example h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 0px 0px;
    margin: 40px 0px 15px 0px;
    font-weight: 500;
}
  
  div.example input[type=search] {
    min-width: 400px;
    margin: 20px 10px;
    padding: 15px 20px;
    background-color: #ece7e7;
    font-size: 18px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    outline: none;
    font-size: 22px;
    box-shadow: 2px 2px 8px rgb(9, 255, 0);
    transition: box-shadow 0.5s;
  }
  
  div.example button[type=submit] {
    margin: 0px 10px;
    padding: 15px 40px;
    background-color: #020202;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #000000;
    transition: box-shadow 0.5s;
    outline: none;
  }
  
  div.example button[type=submit]:hover {
    background: #0b7dda;
  }
  
  div.example::after {
    content: "";
    clear: both;
    display: table;
  }
  section .example button[type=reset] {
    margin: 0px 10px;
    padding: 15px 40px;
    background-color: #22e028;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 15px #a8a8a8;
    transition: box-shadow 0.5s;
    outline: none;
}

section .example button[type=reset]:hover {
    box-shadow: 5px 5px 15px #aaa;
    background-color: #fffdfd;
    color: rgb(0, 0, 0);
}

section .searchResult {
   
    /* display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 10px 400px; */
} 

section .searchResult div h1 {
   font-size: 35px;
}

section .searchResult div p {
    font-size: 28px;
}

#sp
{
  width: 37px;
  height: 33px;
  border-radius: 50px;
}

#speaker
{
  border-radius: 28px;
  width: 48px;
  height: 48px;

}

#searchResult
{
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: center;
}

#g1
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

#definition
{
  padding: 3px;
}

#grey
{
  color: #9aa0a6;
font-family: arial,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22px
}

#g2
{
  text-align: left;
}